#Cuerpo { background-color: rgb(236, 81, 94);}

#Cuerpo1 {
    background-color: rgb(152, 233, 233);
}
h1 {color: rgb(92, 92, 197);}

#Cuerpo2 {
    background-color: rgb(125, 252, 163);
}
h2 {color: blueviolet;}

#Cuerpo3 {
    background-color: rgb(211, 233, 152);
}
h3 {color: black;}

#Cuerpo4 {
    background-color: rgb(231, 146, 106);
}
h4 {color: aliceblue;}

#Cuerpo5 {
    background-color: rgb(235, 82, 214);
}
h5 {color: brown;}